body{
  text-align: center;
}
.unexploded{
  background-image: url('img/simcity.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.exploded{
  background-image: url('img/explosion.jpg');
  background-size: cover;
  background-attachment: fixed;
}
#box{
  background-color: #333;
  border: 1px solid black;
  padding: 25px 15px;
  margin: 125px 0;
  display: inline-block;
}
#timer{
  color: chartreuse;
}
#reset{
  padding:10px 25px;
  border: 1px solid #ffff;
  font-size: 18px;
  background-color: #eeee;
}
#winText,
#failText{
  display: none;
  color: #ffff;
}
